<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="../js/paramFuncionarioDepartamento.js"></script>
</head>
<body>
	<div ng-app="app" ng-controller="paramfuncdep">
		<h1>Funcionarios</h1>
		
		<button ng-click="ocultarMostrarAragregarFincionario()" >Agregar Funcinario</button>
		
		<div ng-hide = "ocultarAgregarFuncionario">
			<input type = "test" ng-model="nombre" placeholder="Nombre">
			<input type = "number" ng-model="num_identificacion" placeholder="Num identificacion">
			<select ng-model="departamento_ins" ng-options="departamento.descripcion for departamento in listaDepartamentos" ng-init="departamento_ins=listaDepartamentos[funcionario.departamento_id]"></select>
			<button ng-click="agregarFuncionario()">Agregar</button>
		</div>
		
		<div ng-repeat="funcionario in listaFuncionarios">
			
			<input ng-model="nombre_f" ng-value="funcionario.nombre">
			<input ng-model="identificacion" ng-value="funcionario.numero_identificacion">
			<select ng-model="dep" ng-options="departamento.descripcion for departamento in listaDepartamentos" ng-change = "actualizarDepartamento(funcionario.id,dep)" ng-init="dep=listaDepartamentos[funcionario.departamento_id]"></select>
		</div>
	</div>
</body>
</html>